# Port de ton serveur NestJS
PORT=3000

# Configuration base de données locale (MySQL via Docker)
DATABASE_URL="sqlite://root:rootpassword@db:3306/database"

# Optionnel : pour ton environnement
NODE_ENV=development